<h2><%= pluralize(@tickets.size, "ticket", "tickets") %> état "Ouvert" (tous)</h2>

<table>
  <tr>
    <th>Numéro</th>
    <th>Client</th>
    <th>Type d'intervention</th>
    <th>Technicien</th>
    <th>Demandes</th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.id, polymorphic_url([:admin, ticket]) %></td>
      <td><%= ticket.client_name %></td>
      <td><%= ticket.maintained_by %></td>
      <td><%= ticket.assigned_to.join(', ') if ticket.assigned_to %></td>
      <td><%= simple_format ticket.description %></td>
    </tr>
  <% end %>
</table>
