%p Bonjour #{@ticket.client_name},

%p
  Vous trouverez ci-dessous un récapitulatif de l’intervention menée par
  #{ticket_assigned_to_human(@ticket)} le #{l @ticket.maintenance_date}.

%ul
  %li
    = "Demande(s):"
    = simple_format @ticket.description
  %li
    = "Solution apportée(s):"
    = simple_format @ticket.comment

%p
  = image_tag(ticket_visit_card_url(@ticket))
