%p Bonjour,

- if @ticket.created_at_changed?
  %p Un nouveau ticket de maintenance a été créé:
- else
  %p Un ticket de maintenance a été modifié:

%ul
  %li= "Maintenu par: #{@ticket.maintained_by}"
  %li= "Nom du client: #{@ticket.client_name}"
  %li= "Email du client: #{@ticket.client_email}"
  %li= "Symptômes: #{@ticket.description}"
  %li= "Commentaire: #{@ticket.comment}"
  %li= "Etat: #{@ticket.state}"

%p
  = image_tag(root_url + image_path("carte-jerome.jpg"))