%p Bonjour,

%p
  Vous trouverez ci-dessous un récapitulatif de l’intervention menée par As Conseil pour votre société.

%ul
  %li
    = "Demande(s):"
    = simple_format @ticket.description
  %li
    = "Solution apportée(s):"
    = simple_format @ticket.comment

%p
  = image_tag(root_url + image_path("carte-jerome.jpg"))
